<div class="ui-select" [class.ui-select--open]="isOpen" [class.ui-select--disabled]="disabled">
  <button
    type="button"
    class="ui-select__trigger"
    [disabled]="disabled"
    [attr.name]="name || null"
    [attr.required]="required ? '' : null"
    [attr.aria-label]="ariaLabel || name || placeholder"
    [attr.aria-expanded]="isOpen"
    aria-haspopup="listbox"
    (click)="toggle()"
  >
    <span class="ui-select__label">{{ selectedLabel }}</span>
    <span class="material-symbols-outlined ui-select__chevron" aria-hidden="true">expand_more</span>
  </button>

  @if (isOpen) {
    <ul class="ui-select__menu" role="listbox" [attr.aria-label]="ariaLabel || name || placeholder">
      @for (option of options; track option.value) {
        <li>
          <button
            type="button"
            class="ui-select__option"
            [class.ui-select__option--selected]="value === option.value"
            [class.ui-select__option--disabled]="option.disabled"
            [attr.aria-selected]="value === option.value"
            [disabled]="option.disabled"
            (click)="select(option)"
          >
            {{ option.label }}
          </button>
        </li>
      }
    </ul>
  }
</div>
