// Typography
$font-headline: 'Manrope', sans-serif;
$font-body: 'Inter', sans-serif;

// Artisanal Core Palette
$color-primary: #33210d;
$color-on-primary: #ffffff;
$color-primary-container: #4b3621;
$color-on-primary-container: #bd9f83;

$color-secondary: #5f5e5b;
$color-tertiary: #002c02;
$color-tertiary-container: #164313;

// Surfaces & Backgrounds
$color-background: #faf9f6;
$color-surface: #faf9f6;
$color-surface-container-low: #f4f3f1;
$color-surface-container: #efeeeb;
$color-surface-container-highest: #e3e2e0;

// Utility & Feedback
$color-outline-variant: #d2c4ba;
$color-error: #ba1a1a;
